<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="reset.css"> -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css"
        integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="modal">
        <form action="">
            <div class="padding">
                <h1>Sign in to Tindev</h1>
                <div class="socialMediaRegister">
                    <button class="facebook"><i class="fab fa-facebook-square"></i>Continue with Facebook</button>
                    <button><i class="fab fa-apple"></i>Continue with Apple</button>
                    <button><i class="fab fa-google"></i>Continue with Google</button>
                </div>
                <div class="formSeparator">
                    <span>or</span>
                </div>
                <input type="text" placeholder="Email / Username">

                <input type="text" placeholder="Password">

                <button type="submit" class="submitButton">
                    Continue
                </button>
                <div class="formFooter">
                    <div class="remember">
                        <input type="checkbox" id="remember">
                        <label for="remember">remember </label>
                    </div>
                    <a href="/">Forgot</a>
                </div>
            </div>

            <footer>
                <p>Not a member yet?<a href="/">Join now</a></p>
            </footer>
        </form>
    </div>
</body>

</html>