.maxiWrapper {
  height: calc(100vh - 60px);
  width: 100vw;
  height: 100%;
  background-color: #fff;
  color: #fff;
  padding-top: 60px;
}

.project-creation-error-message {
  color: rgb(226, 37, 37);
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &-form {
    background-color: #333;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 0.2);
  }

  h3 {
    padding: 0.7rem 0 1rem;
    font-weight: 500;
  }

  input {
    width: 100%;
    background-color: #ddd;
    border: none;
    box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.3);

    &::placeholder {
      color: #888;
    }

    &:hover {
      border: none;
    }
  }

  section {
    padding-bottom: 1rem;
  }

  .image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    div {
      position: relative;
    }

    img {
      max-width: 150px;
      max-height: 150px;
      cursor: pointer;
    }
  }

  .title-section {
    .title-wrapper {
      display: flex;
      align-items: baseline;
      padding-bottom: 0.5rem;

      h3 {
        padding-right: 2.3rem;
      }

      button {
        padding: 0.5rem;
        border: none;
        color: #333;
        border-radius: 5px;

        p {
          display: inline-block;
          padding-left: 0.4rem;
        }
      }
    }
  }

  .category-section {
    display: flex;
    flex-direction: column;

    select {
      border-radius: 5px;
      padding: 0.3rem;
      color: 333;
    }

    h3 {
      padding-right: 1em;
    }
  }

  .team-size-section {
    width: 100%;

    .project-creation-teamsize {
      text-align: left;
    }
  }

  .submit-section {
    text-align: center;
    padding: 0;

    button {
      padding: 0.7rem 2rem;
      border: 1px solid #333;
      color: #333;
      border-radius: 7px;
      transition: all 0.5s;

      &:hover {
        background-color: #333;
        color: #fff;
        border: 1px solid #fff;
      }
    }
  }
}

.loader {
  display: flex;
  justify-content: center;

  p {
    margin-right: 0.5rem;
  }
}

.teamSize-Input {
  box-shadow: none !important;
  background-color: transparent !important;
  border: none;
  height: 100% !important;
  font-size: 0.9375rem;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 670px) {
  .maxiWrapper {
    padding-top: 56px;

    .project-container {
      &-form {
        border-radius: 0;
        width: 100vw;
        min-height: calc(100vh - 56px - 50px);
      }
    }
  }
}

@media (min-width: 670px) {
  .project-container {
    &-form {
      width: 600px;
    }
  }
}

@media (min-width: 1250px) {
  .project-container {
    &-form {
      width: 650px;
    }
  }
}
