@use '../../../styles/vars';

.users-list {
  padding: calc(1rem + 80px) 1rem 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background: vars.$gradient-background;
  min-height: 100vh;
  height: 100%;
}

.article {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.user {

  border-radius: 15px;
  max-width: 300px;
  margin: 1rem;
  background-color: #fff;
  color: #333;
  transition: all 0.5s;
  min-height: 433px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &:hover {
    transform: scale(1.03);
  }

  &-image {
    position: relative;

    .background-container {
      overflow: hidden;
      border-radius: 13px 13px 0 0;
    }

    .background-image {
      filter: blur(2.5px) brightness(90%);
      width: 100%;
      user-select: none;
    }

    .header-content {
      width: 40%;
      height: 100%;
      text-align: center;
      overflow: hidden;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .avatar {
      position: relative;
      width: 100px;
      height: 100px;
      left: 100%;
      margin-left: -200%;
      border-radius: 50%;
      border: 3px solid #fff;
    }

    .full-name {
      color: #fff;
      text-shadow: 0 0 10px #000;
      font-weight: 500;
      font-size: .8em;
    }
  }

  .user-content {
    padding-top: .5rem;
  }

  .info-row {
    margin: 0 1rem;
    padding: .6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .7em;
    font-weight: 300;
    color: #aaa;
    border-bottom: 1px solid rgba($color: #ccc, $alpha: .3);

    &-name {
      color: #555;
      display: flex;
      align-items: center;

      span {
        margin-right: .5rem;
      }
    }
  }
}