@use '../../../styles/vars';

.user-profile-preview-header {
  height: 50%;
  width: 100%;
  border-bottom: 1px solid #b6b6b6;
  position: relative;

  &-username {
    text-align: center;
    color: #555;
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 2rem;
    font-weight: 500;
  }

  &-background {
    height: 50%;
    border-radius: 4px 4px 0px 0px;
    position: relative;
    box-shadow: 0 0 3px #000;
  }

  &-infos {
    height: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
  }

  &-nav {
    width: 100%;

    .infos {
      &-list {
        display: flex;
        justify-content: space-evenly;
        color: #555;
      }

      &-item {
        cursor: pointer;
        padding: 0.7rem;

        &:hover {
          background-color: vars.$darker-color;
          color: #fff;
        }

        &.selected {
          border-bottom: 2px solid orange;
        }
      }
    }
  }
}

.user-profile {
  padding: calc(1rem + 80px) 1rem 1rem 1rem;
  min-height: 100vh;
  height: 100%;
  background-color: vars.$background-color;
  display: flex;
  justify-content: center;
  align-items: center;

  &-image {
    position: absolute;
    width: 21%;
    height: 35%;
    border-radius: 50%;
    border: 3px solid #fff;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  &-background {
    height: 100%;
    width: 100%;
  }

  &-preview {
    max-width: 486px;
    height: 70vh;
    max-height: 580px;
    border-radius: 4px;
    box-shadow: 0 0 3px black;
    background-color: vars.$secondary-color;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

  &-content {
    line-height: 1.4;
    text-align: center;
    display: flex;
    align-items: center;
    width: 80%;
    overflow: hidden;
    padding: 1rem;
    color: #555;
    margin: auto;
    height: 40%;
  }

  &-introduce {
    border: 1px solid black;
    height: 100vh;
    width: 35%;
    height: 70vh;
    border-left: none;
  }

  &-social {
    border-top: 1px solid #b6b6b6;
    width: 80%;
    height: 10%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-icon {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: 600px) {
  .user-profile {
    img {
      height: auto;
    }
  }
}

.chat {
  position: absolute;
  right: 5%;
  top: 5%;
}

.content-infos {
  width: 100%;
}

.experience {
  width: 100%;
}

.chatIcon {
  cursor: pointer;
  position: absolute;
  font-size: .8em;
  top: 0;
  right: 0;
  padding: 0.7rem;
}