.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #ededed;
  box-shadow: 0px 0px 2px black;
  width: 500px;
  transform: translate(-50%, -50%);
  background-color: #ededed;

  &-field {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0rem 0.5rem 1rem;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.field {
  &-name {
    margin-bottom: 1rem;
  }

  &-value {
    margin-left: 2rem;
  }

  &-separator {
    border-bottom: 1px solid black;
    width: 65%;
  }

  &-modify {
    padding: 0.6rem 1.9rem;
    border: 1px solid #333;
    color: #333;
    border-radius: 7px;
    transition: all 0.3s;
    max-height: 38px;
    margin-right: 0.8rem;

    &:hover {
      background-color: #333;
      color: #fff;
      border: 1px solid #fff;
    }
  }
}
