@use 'src/styles/vars';

.profile-wrapper {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: calc(64px + 4rem);
  padding-bottom: 4rem;

  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: vars.$darker-color;
    flex-direction: column;
    padding: 10px 50px 50px;
    width: 700px;

    &-edit {
      &-success,
      &-error {
        position: fixed;
        transform: translate(-10px, -50%);
        top: 100px;
        right: 0;
        padding: 1rem;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
      }

      &-success {
        background-color: green;
      }
      &-error {
        background-color: red;
      }
    }

    &-loader {
      position: fixed;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }

    &-delete-button {
      margin-top: 2rem;
      padding: 1rem;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;

      cursor: pointer;
      background-color: #c72525;
      font-weight: 700;
      border: 1px solid #e4e5e7;
      border-radius: 5px;
      transition: all 0.5s;

      &:hover {
        background-color: #168a53;
      }
    }

    &-edit-container {
      width: 100%;

      .profile-container {
        color: #333;
        padding: 1.5rem 0.5rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #fff;

        .profile-edit-form {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;

          img {
            max-height: 80px;
          }
        }

        .field-modify {
          padding: 0.5rem 0.5rem;
          border: 1px solid #333;
          color: #333;
          border-radius: 7px;
          transition: all 0.3s;

          &:hover {
            background-color: #333;
            color: #fff;
            border: 1px solid #fff;
          }
        }

        .profile-field {
          width: 70%;
          display: flex;

          .field-name {
            width: 50%;
            font-weight: 500;
          }

          .field-value {
            font-style: italic;
          }
        }
      }
    }
  }
}

//delete profile modal
.profile-deletion {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba($color: #000000, $alpha: 0.8);
  z-index: 999;

  &-modal {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: fixed;
    border-radius: 5px;
    animation: fadeInOpacity 0.5s ease 1;
    width: 335px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 15px 15px 14px 2px rgba(0, 0, 0, 0.3);
    justify-content: center;
    min-height: 135px;

    &-message {
      color: rgba($color: #000, $alpha: 0.55);
      padding: 1rem;
    }

    &-buttons {
      display: flex;
      justify-content: space-evenly;
    }

    &-button {
      background-color: #19a463;
      width: 25%;
      color: #fff;
      padding: 0.7rem;
      font-weight: bold;
      border: 1px solid #e4e5e7;
      border-radius: 5px;
      transition: all 0.3s;
      margin: 0.5rem 0rem 1.5rem 0rem;

      &:hover {
        background-color: #168a53;
      }
    }

    &-loader {
      text-align: center;
    }
  }
}

// @media (min-width: 1000px) {
//   .profile {
//     width: 800px;
//     flex-flow: row wrap;
//     justify-content: space-between;

//     &-container {
//       width: 50%;

//       &:nth-child(2n + 1) {
//         border-right: 1px solid #333;
//       }
//     }
//   }
// }

// @media (max-width: 500px) {
//   .profile {
//     margin: 0;
//   }
// }
