.project-creation {
  color: white;
  &-title {
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

    &-entry {
      color: white;

      margin-bottom: 1.5rem;
      font-size: 1.2em;
    }
  }

  &-input {
    width: 93%;
    color: #404145;
    padding: 0.7rem;
    border: 1px solid #e4e5e7;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 5px;
    transition: border ease-in-out 0.4s;

    &:hover {
      border: 1px solid rgba($color: #62646a, $alpha: 0.6);
    }

    &:focus {
      border: 1px solid rgba($color: #62646a, $alpha: 0.9);
    }

    &:focus::placeholder {
      color: rgba($color: #000, $alpha: 0.7);
    }

    &.textarea {
      height: 150px;
      width: 500px;
    }

    &.size {
      border-radius: 1px;
      width: 17%;
    }
  }

  &-description {
    margin-top: 1rem;
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }

  &-button {
    width: 23.5%;
    padding: 0.8rem;
    border-radius: 1px;
    text-decoration-line: none;
    text-decoration-style: solid;
    background-color: rgb(239, 239, 240);
    border-style: none;
    color: rgb(134, 136, 143);
    &:hover {
      background-color: rgb(149, 151, 157);
      transition: 0.15s ease-in;
    }

    &.submit {
      color: #000;
      font-weight: 400;
      width: 150px;
      padding: 0.7rem;
      display: flex;
      justify-content: space-around;
      border-radius: 4px;
      margin: 2rem auto 0 auto;
    }

    &.image {
      color: #000;
      font-weight: 400;
      width: 150px;
      padding: 0.7rem;
      display: flex;
      justify-content: space-around;
      border-radius: 4px;
      margin-bottom: 2rem;
    }
  }
}

.project-container {
  border: 1.2px solid #fff;
  padding: 2rem;
  min-width: 35%;
  max-width: 35%;
  margin: 8% auto auto;
  border-radius: 5px;
}

.separator {
  margin-top: 1rem;
  border-top: 1px solid white;
  width: 522px;
}
