/** @format */

.maxiWrapper {
  height: calc(100vh - 80px);
  width: 100vw;
  background: linear-gradient(90deg,
      rgba(149, 230, 191, 1) 0%,
      rgba(84, 227, 206, 1) 48%,
      rgba(0, 212, 255, 1) 100%);
  color: #fff;
  margin-top: 80px;
}

.project-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-form {
    background-color: #333;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: .2);
  }

  h3 {
    padding: 0.7rem 0 1rem;
    font-weight: 500;
  }

  input {
    width: 100%;
    background-color: #ddd;
    border: none;
    box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.3);

    &::placeholder {
      color: #888;
    }

    &:hover {
      border: none;
    }
  }

  section {
    padding-bottom: 1rem;
    // border-bottom: 1px solid rgba($color: #fff, $alpha: 1);
  }

  .title-section {
    .title-wrapper {
      display: flex;
      align-items: baseline;
      // justify-content: space-between;
      padding-bottom: .5rem;

      h3 {
        padding-right: 2.3rem;
      }

      button {
        padding: .5rem;
        border: none;
        color: #333;
        border-radius: 5px;

        p {
          display: inline-block;
          padding-left: 0.4rem;
        }
      }
    }
  }

  .category-section {
    display: flex;
    justify-content: start;
    align-items: baseline;

    select {
      border-radius: 5px;
      padding: .3rem;
      color: 333;
    }

    h3 {
      padding-right: 1em;
    }
  }

  .team-size-section {
    width: 100%;

    button {
      width: 25%;
      padding: 0.7rem;
      border: none;
      color: #333;
      transition: background-color 0.8s ease;
      border-right: 1px solid #222;

      &:first-child {
        border-radius: 10px 0 0 10px;
      }

      &:last-child {
        border-radius: 0 10px 10px 0;
        border: none;
      }

      &:hover {
        background-color: #fff;
      }
    }
  }

  .submit-section {
    text-align: center;
    padding: 0;

    button {
      padding: 0.7rem;
      border: none;
      color: #333;
      border-radius: 7px;
    }
  }
}