@use '../../styles/vars';

.nav-item {
  padding-left: 12px;
}

.search-tray {
  position: absolute;
  height: 230px;
  width: 100%;
  background-color: #333333;
  text-align: center;
  z-index: 999;
  border-radius: 0.4rem;
  &-list-item {
    width: 100%;
  }

  &-item {
    display: flex;
    justify-content: flex-start;
    margin: 1.5rem 0 0 1rem;
  }
}

.search-value {
  margin-left: 1rem;
}
