@use '../../styles/vars';

.active {
  color: orange;
}

body {
  overflow: overlay !important;
  padding: 0 !important;
}

.nav-item {
  padding-left: 12px;

  &.username {
    cursor: pointer;
  }
}

.search-tray {
  position: absolute;
  height: auto;
  max-height: 300px;
  overflow: hidden;
  width: 100%;
  background-color: #333;
  text-align: center;
  z-index: 999;
  border-radius: 0rem, 0rem, 0.4rem, 0.4rem;

  &-list-item {
    width: 100%;
  }

  &-noresult {
    display: flex;
    padding: 0.8rem;
  }

  &-item {
    display: flex;
    padding: 0.8rem;

    &-default {
      display: flex;
      padding: 0.8rem;
      cursor: pointer;

      &:hover {
        background-color: #666666;
      }
    }

    &:hover {
      background-color: #666666;
    }
  }
}

.search-value {
  display: flex;

  margin-left: 1rem;
  width: 100%;
}

#mainMenu {
  .MuiPaper-root {
    width: 100vw;
    position: fixed;
    max-width: 100%;
    top: 56px !important;
    left: 0 !important;
    background-color: #333;
    color: #fff;
    border-radius: 0 0 3px 3px;
  }
}

.bell-container {
  position: relative;
}
