$gradient-background: #fff;
$background-color: #fff;
$primary-color: #0e8ef2;
$secondary-color: #ededed;
$darker-color: #cfcfcf;
$ballsy-color: #ff7122;
$navbar-color: #333;
$error-message: rgb(226, 37, 37);
